* { box-sizing: border-box; }

@font-face {
  font-family: 'Pony';
  src: url('../Pony.ttf');
}
#baiTapBauCua {
  font-family: 'Pony';
  background-color: rgb(255, 155, 2);
  height: 100%;
}

.scene {
  width: 50px;
  height: 50px;
  margin-top: 80px;
  perspective: 50px;
}

.cube {
  width: 50px;
  height: 50px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform infinite;
  transform: translateZ(-25px) ;

}


.cube__face {
  position: absolute;
  width: 50px;
  height: 50px;
  border: 2px solid yellow;
  line-height: 40px;
  font-size: 5px;
  font-weight: bold;
  color: white;
  text-align: center;
}


.front  { 
  transform: rotateY(0deg) rotateX(0deg) rotateZ(0deg) translateZ(25px);
 }
.right  { 
  transform: rotateY( 90deg) rotateX(0deg) rotateZ(0deg)  translateZ(25px);
 }
.back   { 
  transform: rotateY(180deg) rotateX(0deg) rotateZ(0deg)  translateZ(25px);
 }
.left   { 
  transform: rotateY(-90deg) rotateX(0deg) rotateZ(0deg)  translateZ(25px);
 }
.top    { 
  transform: rotateX( 90deg) rotateY(0deg) rotateZ(0deg)  translateZ(25px);
 }
.bottom { 
  transform: rotateX(-90deg) rotateY(0deg) rotate(0deg)  translateZ(25px);
 }

label { margin-right: 10px; }

.reward {
  margin: 20px 0;
  background-color: rgb(216, 47, 60);
  padding: 16px 10px;
  border-radius: 8px;
}

.reward h6{
  color: #fff;
  margin: 0;
}

.reward span{
  margin-left: 8px;
  color: rgb(255, 174, 0);
}

.tangGiam {
  display: flex;
  justify-content: space-around;
  margin-top: 8px;
  padding: 8px 12px;
  background-color: rgb(37, 165, 67);
  border-radius: 6px;
}

.circle {
  background-color: #fff;
  width: 350px;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dsXucXac {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.img_xucxac {
  width: 70px;
}

/* responsive */
@media only screen and (max-width: 46.1875em) {
  .circle {
    width: 200px;
    height: 200px;
    
  }
  .img_xucxac {
    width: 50px;
  }
  
  .tangGiam {
    flex-direction: column;
    align-items: center;
  }
 
}


/* Tablet: width >= 740px and width < 1024px */

@media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
   
}


/* Mobile + tablet */

@media only screen and (max-width: 63.9375em) {
  .game {
    flex-direction: column;
    align-items: center;
  }
  
  .dsXucXac {
    justify-content: center;
    margin-top: 40px;
  }
 
  .heading_bctc {
    font-size: 42px !important;
  }
}