@media only screen and (max-width: 46.1875em) {
  .myname {
    flex-direction: column;
  }

  .myname h3{
    margin-left: 0 ;
  }
  .reverse-col {
    flex-direction: column-reverse;
    margin: 60px 0 !important;
  }

  .text-wrap h1 {
    font-size: 80px;
  }

  .avatar {
    width: 216px;
    height: 216px;
  }

  .group-btn {
    font-size: 10px ;
  }

  .group-btn-child {
    padding: 24px 8px;
  }
}


/* Tablet: width >= 740px and width < 1024px */

@media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
   
}


/* Mobile + tablet */

@media only screen and (max-width: 63.9375em) {
  .background-portfolio {
    height: 100% ;
 }

 
}