/* XucXacRedux */

@font-face {
    font-family: 'fontGame';
    src: url('./assets/Pony.ttf');
}
.app-game {
    font-family: 'fontGame';

}

.bg-xucxac {
    background: url('./assets/bgGame.png')  ;
    width: 100%;
    height: 100vh;
  }

.bg-xucxac-dark {
    background-color: rgba(0,0,0,.1) ;
    width: 100%;
    height: 100%;
}

.heading-1 {
    padding: 50px 0;
    font-size: 50px;
}

.btn-game {
    padding: 60px;
    font-size: 50px;
    border: 4px solid rgb(75, 231, 75);
    border-radius: 10px;
}

.img-xucxac {
    width: 50px;
    height: 50px;
}

@media only screen and (max-width: 46.1875em) {
    .btn-game {
        padding: 10px;
        font-size: 24px;
    }
    .img-xucxac {
        width: 32px;
        height: 32px;
    }
    
  }
  